/* MAIN */

.sectionMsg{
    text-align: center;
}

.towerContainer{
    list-style-type: none;

    display: flex; 
    flex-direction: row; 

    align-items: center;
    justify-content: space-between;

    padding: 10%;
    /*width:  856px;*/
}

.btnContainer{
    list-style-type: none;

    display: flex; 
    flex-direction: row; 

    align-items: center;
    justify-content: center;
}

.towerColumn{
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;

    width: 30px;
    height: 300px;

    background: #454545;

    margin: 0 100px 0 100px;
}

.disc{
    height: 50px;
    width: 160px;

    border-radius: 15px;
}

.disColor{
    background: rgb(255, 99, 71);

}

button{
    border: 0px;
    padding: 10px;
    margin: 10px;

    color: aliceblue;
    background-color: blueviolet;
}

span{
    font-size: 28px;
    font-weight: bold;

    color: blueviolet;
}
